/****************************************
* Transform
****************************************/
.transform-demo > div {
  height: 40px;
  background: salmon;
  width: 20%;
  margin: auto;
  display: inline-block;
  transition: 3s;
}
.transform-demo>div:hover{
  transform: translatex(150px);
}

/****************************************
* Transition
****************************************/

.transition-demo img {
  margin-bottom: .5em;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  transition: 5s;
}

.transition-demo img:hover {
  filter: none;
  transform: rotate(360deg) scale(2.0);
}

/****************************************
* Animation
****************************************/

.bar {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  background-color: palegreen;
  animation-name: sale-bar;
  animation-duration: 5s;
}

@keyframes sale-bar {
  0% { background-color: lightgreen; width: 450px }
  25%{background-color: purple;}
  50%{background-color: yellow;border-radius: 10px;}
  75% { background-color: #FF033E;border-radius: 30px; width: 125x }
  100% { background-color: blue; width: 10px }
}
